<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="currency.online"
    android:versionCode="1"
    android:versionName="1.0" >

    <application android:label="@string/app_name"
	android:icon="@drawable/graph"
	android:logo="@drawable/graph"
	android:theme="@style/CustomTheme"
	>
        <activity
            android:name="CurrencyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".CurrencyService" />

        <activity
            android:name="CurrencyCalculator"
            android:label="@string/app_name" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="3" />

</manifest>